<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" >
    <link href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" />

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tether.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static',filename='js/moment.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static',filename='js/bootstrap-datepicker.zh-CN.min.js')}}"></script>
    {{fujs.js}}
    <title>{% block title%} 这里定义了一个名为title的block {% endblock %}</title>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">{{ message }}
      </div>
      {% endfor %}
    {% block content %} 这里定义了一个名为content的block {% endblock %}
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
  </body>
</html>
