{% extends 'base.html' %}
<style media="screen">
  .addform{
    margin:10px 5px 50px 5px;
    border:5px;
  }
</style>
{% block title %} 健身记录 {% endblock %}
{% block content %}

<script type="text/javascript">
  $(function(){
    $("#datetimepicker").datetimepicker({
      format:'YYYY-MM-DD',
      locale: moment.locale('zh-cn')
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var xmlhttp = new XMLHttpRequest();
    $("#body_part").change(function(){
      var bodypart = document.getElementById("body_part");
      var index = bodypart.selectedIndex;
      var text = bodypart.options[index].text;
      $.getJSON($SCRIPT_ROOT + "/get_action",{body_part:text},
        function(data){
          // alert(data);
          $("#train_action").empty();
          $.each(data,function(i,action_name){
            $("#train_action").append("<option value='"+action_name.id+"'>"+action_name.action_name+"</option>");
          });
      });
    });
  });
</script>

<div class="container">
  <form class="form" role="form" action="{{ url_for('add_record') }}" method="post">
    <div class="row">
      <div class="col-md-6">
        <div class="form-gruop">
          <label class="control-label" for="">选择日期:</label>
          <!--指定 date标记-->
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" name="train_day"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label class="control-label" for="bodyPart">训练部位</label>
        <select class="form-control" name="body_part" id="body_part">
          <option value="请选择" selected>请选择...</option>
          <option value="0">胸部</option>
          <option value="1">背部</option>
          <option value="2">肩部</option>
          <option value="3">腹部</option>
          <option value="4">上肢</option>
          <option value="5">腿部</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="train_action">训练动作</label>
        <select class="form-control" name="train_action" id="train_action">
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6" >
        <div class="input-group">
          <label>重量(KG)</label>
          <input type="text" class="form-control" name="weight" id="weight" placeholder="">
          <!-- <span class="input-group-addon">KG</span> -->
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <label>RM</label>
          <input type="text" class="form-control" name="rm" id="rm" placeholder=""></label>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" style="float:right" type="submit" name="save">保存</button>
  </form>

<br>
<br>
<div>
  <a href="{{url_for('action_index')}}" class="btn btn-primary">打开训练动作库</a>
</div>
<br>
<br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>部位</th>
        <th>动作名称</th>
        <th>重量(KG)</th>
        <th>RM</th>
        <th>总重量(KG)</th>
        <th>训练日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <th>{{loop.index}}</th>
        <td>{{record.body_part}}</td>
        <td>{{record.action_name}}</td>
        {% if record.train_weight==0.0 %}
        <td>自重</td>
        {% else %}
        <td>{{record.train_weight}}</td>
        {% endif %}
        <td>{{record.rm}}</td>
        {% if record.train_weight==0.0 %}
        <td>/</td>
        {% else %}
        <td>{{record.train_weight*record.rm}}</td>
        {% endif %}
        <td>{{record.train_day}}</td>
        <td><a href="{{url_for('delete_record',action_id=record.action_id,train_day=record.train_day)}}" class="btn btn-danger btn-sm">删除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
